.header {
  width: 100%;
  height: 82px;
  background: #000;
}

@media (min-width: 1440px) {
  .header-container {
    width: 1440px;
    margin: 0 auto;
  }

  .header-logo {
    margin-left: 53px;
  }
}
