.header {
  background: #000;
  height: 82px;
  width: 100%;
}

@media (min-width: 1440px) {
  .header-container {
    margin: 0 auto;
    width: 1440px;
  }

  .header-logo {
    margin-left: 53px;
  }
}
