.header_top_banner {
    position: absolute;
    width: 1440px;
    height: 85px;
    left: 0px;
    top: -3px;
    background: #000000;
}

.header_top_banner img {
    position: absolute;
    width: 152px;
    height: 139px;
    left: 53px;
    top: -28px;
}

.add_location_section {
    position: absolute;
    width: 1440px;
    height: 247px;
    left: 0px;
    top: 38px;
    background: #4F9419;
}