:root {
  --margin-right: 15px;
}

.form-section {
  background-color: #4f9419;
  position: relative;
  width: 100%;
}

.form-container {
  align-items: center;
  display: flex;
  height: 100%;
}

.form-content {
  padding: 15px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-label {
  color: #fff;
}

.select-container {
  position: relative;
}

.select {
  appearance: none;
  background-color: #fff;
  width: 100%;
}
.select-container:after {
  color: #545454;
  content: "arrow_drop_down";
  font-family: "material icons";
  font-size: 30px;
  position: absolute;
  right: 16px;
  top: 15px;
}

.input-group-height {
  border-radius: 7px;
  border: none;
  color: #868686;
  height: 48px;
  outline: none;
  padding: 0px 0px 0px 15px;
}

.form-button-submit {
  background: #006c18;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 48px;
  outline: none;
  width: 100%;
}

.form-button-submit:hover {
  background-color: #028a20;
}

@media (min-width: 1030px) {
  .form-content {
    align-items: center;
    display: flex;
    height: 203px;
    justify-content: center;
    padding: 0 15px;
  }

  .input-group {
    margin-bottom: 0;
  }

  .select {
    margin-right: var(--margin-right);
    width: 220px;
  }

  .select-container:after {
    right: 20px;
  }

  .place-width {
    margin-right: var(--margin-right);
    width: 270px;
  }

  .meta-width {
    margin-right: var(--margin-right);
    width: 220px;
  }

  .form-button-submit {
    margin-top: 19px;
    padding: 0;
    width: 203px;
  }
}

@media (min-width: 1440px) {
  .form-container {
    margin: 0 auto;
    width: 1440px;
  }

  .select {
    margin-right: 34px;
    width: 303px;
  }

  .select-container:after {
    right: 40px;
  }

  .place-width {
    margin-right: 28px;
    width: 455px;
  }

  .meta-width {
    margin-right: 34px;
    width: 238px;
  }

  .form-content {
    margin: 0 53px;
  }
}
